@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
h1, h2, h3, h4, h5, h6, p, a {
  line-height: 1.1125em;
  padding: 0;
  margin: .25em 0; }

.button, .page-header .menu .item, .profile-info .connect {
  margin-right: 1em;
  background: #1D2120;
  color: #FFFFFF;
  padding: .5em;
  line-height: 3em;
  font-weight: 700;
  text-align: center;
  pointer: cursor; }
  .button:last-of-type, .page-header .menu .item:last-of-type, .profile-info .connect:last-of-type {
    margin-right: 0; }

.-italic {
  font-style: italic; }

.-centered {
  text-align: center; }

.-underline {
  text-decoration: underline; }

.-break {
  height: 4em; }
  .-break.-small {
    height: 2em; }
  .-break.-large {
    height: 5em; }
  .-break.-large {
    height: 7em; }
  .-break.-xlarge {
    height: 10em; }

html {
  height: 100%;
  overflow: hidden;
  font-size: 14px; }
  @media screen and (min-width: 500px) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 700px) {
    html {
      font-size: 20px; } }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px; } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 24px; } }

body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

a {
  color: #F8E71C;
  text-decoration: none; }
  a:hover {
    color: #1D2120; }

.-italic {
  font-style: italic; }

.-centered {
  text-align: center; }

.-underline {
  text-decoration: underline; }

.-break {
  height: 4em; }
  .-break.-small {
    height: 2em; }
  .-break.-large {
    height: 5em; }
  .-break.-large {
    height: 7em; }
  .-break.-xlarge {
    height: 10em; }

.page-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8em; }
  .page-container .page {
    width: 100%;
    background: #00ABE4;
    min-height: 100vh;
    padding: 2em 2em;
    color: #FFFFFF; }
  @media screen and (min-width: 700px) {
    .page-container {
      margin-top: 3.5em; } }
  .page-container .title {
    font-size: 4em; }

.page-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  font-size: 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .page-header .title {
    font-size: 1em; }
    .page-header .title a {
      color: #1D2120; }
  .page-header .title,
  .page-header .menu {
    padding: 0 .5em; }
  .page-header .menu {
    font-size: .5em; }
  @media screen and (min-width: 700px) {
    .page-header {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }

.courses-container {
  margin-top: 1em; }
  .courses-container > .title {
    font-size: 1em; }
  .courses-container .course {
    margin-top: 1.5em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .courses-container .course > .title {
      font-size: 2em;
      border-bottom: #005f7e 0.25em solid;
      padding-bottom: .25em; }
  .courses-container .session {
    padding: 1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .courses-container .session .date {
      font-weight: bold; }
    .courses-container .session .bookit {
      opacity: 0;
      padding: 1em 2em;
      color: #FFFFFF;
      background: #00384b; }
    .courses-container .session:hover {
      background: #005f7e; }
      .courses-container .session:hover .bookit {
        opacity: 1; }

.profile-info {
  text-align: center; }
  .profile-info .image {
    border-radius: 9em;
    height: 9em;
    overflow: hidden;
    box-shadow: 0 0 0.5em #DFDFDF; }
  .profile-info .name {
    font-size: 2em;
    font-weight: 700; }
  .profile-info .age {
    font-size: 1em;
    margin: .25em;
    color: #DFDFDF; }
  .profile-info .connect {
    margin-top: 1em;
    font-size: 1em;
    border: none;
    margin: 0;
    font-family: "Montserrat", sans-serif; }

.page-header {
  z-index: 0; }

.page-container .page {
  z-index: 1; }
