// Settings
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$white : #FFFFFF;
$jet : #1D2120;
$light-jet: lighten($jet, 20%);
$gray: #DFDFDF;
$yellow : #F8E71C;
$blue : #00ABE4;
$dark-blue : darken($blue, 20%);