// Tools
@mixin clearfix {
  &:after {
    content: "";
    display: table; 
    clear: both;
  }
}

.button {
  margin-right: 1em;
  background: $jet;
  color: $white;
  padding: .5em;
  line-height: 3em;
  font-weight: 700;
  text-align: center;

  pointer: cursor;

  &:last-of-type {
    margin-right: 0;
  }
}

.-italic {
  font-style: italic;
}
.-centered {
  text-align: center;
}
.-underline {
  text-decoration: underline;
}
.-break {
  height: 4em;
  
  &.-small {
      height: 2em;
  }
  &.-large {
      height: 5em;
  }
  &.-large {
      height: 7em;
  }
  &.-xlarge {
      height: 10em;
  }
}

