@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

//Settings
$black : #4A4A4A;
$white : #FFFFFF;
$gray: #DFDFDF;
$yellow : #F8E71C;
//Tools
//Generic
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: $gray;
  font: 20px 'Montserrat', sans-serif;
  font-weight: 400;
}
//Base
h1,h2,h3,h4,h5,h6,p {
  line-height: 1em;
  padding: 0;
  margin: 0;
}
//Objects

//Components
.page-header {
  background: $black;
  color: $white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
    
  .title {
    padding: .5em;
  }
  .highlight {
    height: .5em;
    background: $yellow;
  }
}
.page-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  
  .page {
    max-width: 1080px;
    height: 100vh;
    margin: 0 auto;
    margin-top: 6em;
    padding: 1em;
    background: $white;
    box-shadow: $black 0 0 .125em;
  }
}
//Trumps
// Z-Indexing

.page-header {
  z-index: 2
}
.page-container {
  z-index: 1;
}




