doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    .page-header
      h1.title= title
      .highlight
    .page-container
      .page
        block content
    
    block footer
    
    script(type='text/javascript', src='http://localhost:35729/livereload.js')