.page-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  font-size: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  .title {
    font-size: 1em;
    a { color: $jet; }
  }
  .title,
  .menu {
    padding: 0 .5em;
  }
  .menu {
    font-size: .5em;

    .item {
      @extend .button;
    }
  }
  
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}