doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title= title

    meta(name='description', content= title)
    meta(name='viewport', content='width=device-width, initial-scale=1')
        
    block head

  body
    include inc/page-header
    .page-container
      .page
        block content
    
    block footer
    
    //- script(type='text/javascript', src='http://192.168.33.99:35729/livereload.js')